<html>
	<body>
		<h1>Sample Widgets Response</h1>
		
		<form action = "" method = post>
			<fieldset>
				<section>
					<div>
						{{form.sample_radio_field.label}}
						{{form.sample_radio_field}}
						</div>
						<div><br>
						{{form.sample_select_field.label}}
						{{form.sample_select_field}}
						</div>
						<div><br>
						{{form.sample_textarea_field.label}}
						{{form.sample_textarea_field}}
						</div>
						<div><br>
						{{form.sample_password_field.label}}
						{{form.sample_password_field}}
						</div>
					</section>
					<section><br>
						{{form.submit}}
					</section>	
				</section>
			</fieldset>
		</form>
	</body>
</html>
