<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="https://www.youngwonks.com/">Click to go to Youngwonks website!</a>
    <a href="http://127.0.0.1:5000/">Click here to return home</a>
    <a href="{{ url_for('login') }}">Click here to log in!</a>

    <form action="{{ url_for('login') }}" method="post">
        <h3>
            Username:
            <input type="text" name="username">
        </h3>
        <h3>
            Email:
            <input type="text" name="email">
        </h3>
        <h3>
            State:
            <input type="text" name="state">
        </h3>
        <h3>
            Phone Number:
            <input type="text" name="phone_number">
        </h3>
        <h3>
            <input type="submit" value="Submit!">
        </h3>
    </form>
</body>
</html>
